{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<style>
        .color{
            height:40px;
            color:DarkCyan;
            text-shadow: -16px -10px 4px #000000;
        }
        .color-1{
            width:300px;
            height:100px;
            font-size: 30px;
            color:DarkCyan;
            background-color:LightCyan;
            margin-top:80px;
            -webkit-box-shadow: -32px -24px 15px 15px rgba(0,0,0,0.73);
            box-shadow: -32px -24px 15px 15px rgba(0,0,0,0.73);
        }
        .title{
            color:DarkCyan;
            text-shadow: -21px -26px 4px #000000;
        }
        .button-position{
            text-align:center;
        }
    </style>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form method="post" action=".">{% csrf_token %}
                <div class="title">
                <h1>If you want Create / Update</h1>
                </div>
                <div class="row form-row">
                    <div class="col-md-3">TITLE: </div>
                    <div class="col-md-9"> {{ form.title }}</div>
                </div>
                <div class="row form-row">
                    <div class="col-md-3">URL: </div>
                    <div class="col-md-9"> {{ form.url }}</div>
                </div>
                <div class="row form-row">
                    <div class="col-md-12 button-position">
                        <button type="submit" class="color-1">CREATE/UPDATE</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock content %}