<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <style>
        .login_form{
            width:300px; height:auto;
            margin:auto; margin-top: 200px;
            background-color:orangered;
            border-radius:5px; padding:20px; color:white;
            font-weight:bolder;
        }
    </style>
</head>
<body>
<div class="login_form">
<p>sign out</p>
<p><a href="{% url 'index' %}">GO Index</a></p>
<p><a href="{% url 'login' %}">Sign in Again</a></p>
</>
</body>
</html>