{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form method="post" action=".">{% csrf_token %}
                <div class="row form_row">
                    <div class="col-md-6">USERNAME &nbsp;<span class="glyphicon glyphicon-user
"></span></div>
                    <div class="col-md-6">{{ form.username }}</div>
                </div>
                <div class="row form_row">
                    <div class="col-md-6">PASSWORD1 &nbsp;<span class="glyphicon glyphicon-sunglasses

"></span></div>
                    <div class="col-md-6">{{ form.password1 }}</div>
                </div>
                <div class="row form_row">
                    <div class="col-md-6">PASSWORD2 &nbsp;<span class="glyphicon glyphicon-pawn
"></span></div>
                    <div class="col-md-6">{{ form.password2 }}</div>
                </div>
                <div>
                    <button type="submit" class="btn btn-warning form_btn">SIGN UP</button>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock content %}