{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <title>Post List</title>

    {% load staticfiles %}
    <style>
        #content{
            text-align:center;
            font-size:20px;
            font-family:sans-serif
            margin:auto;
        }
        .box{
            width:500px; height:auto;
            border: 1px solid lightgray;
            display: inline-block;
        }
        img{
            width:380px; height:380px;
            margin: auto; display:block;
        }
        p{
            padding-left:20px;
            padding-right:20px;
            font-family: 'Nanum Gothic', sans-serif;
            font-size:20px;
        }
        .description{
            height:100px;
        }
        .box_title{
            text-align:center;
            margin:10px;
            font-family: 'Pattaya', sans-serif;
            font-size:30px;
            color: orangered;
        }
        #title {
            font-family: 'Pattaya', sans-serif;
            text-align:center;
            font-size:30px;
        }
        #title_small{
            font-size:30px;
            color: dimgray;
        }
        .label{
            font-family: 'Pattaya', sans-serif;
            color:orangered;
        }
    </style>
<div id="content">
    <h1 id="title">Blog</h1>
    <a href="{% url 'blog_create' %}"><button>CREATE</button></a>
    {% for post in object_list %}
    <div class="box">
        <p class="box_title">Title: <a href="{% url 'blog_detail' post.id %}">{{ post.title }}</a></p>
        <p>Create Date: {{ post.create_date }}</p>
        <p>Modify date: {{ post.modify_date }}</p>
        <p><img src="{{ post.image.url }}"></p>
        <p class="description">Description: {{ post.description }}</p>
    </div>
    {% endfor %}

</div>
</html>
{% endblock content %}