{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form method="post" action="." enctype="multipart/form-data">{% csrf_token %}
                <div class="row form-row">
                    <div class="col-md-5">
                        Title&nbsp;<span class="glyphicon glyphicon-pencil"></span>
                    </div>
                    <div class="col-md-7">{{ form.title }}</div>
                </div>
                <div class="row form-row">
                    <div class="col-md-5">
                        Image&nbsp;<span class="glyphicon glyphicon-picture"></span>
                    </div>
                    <div class="col-md-7">{{ form.image }}</div>
                </div>
                <div class="row form-row">
                    <div class="col-md-5">
                        Description&nbsp;<span class="glyphicon glyphicon-edit"></span>
                    </div>
                    <div class="col-md-7">{{ form.description }}</div>
                </div>
                <div>
                    <button type="submit" class="btn form_btn">CREATE/UPDATE</button>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock content %}