{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<style>
    .line{
        font-size:70px;
    }
    .col-md-6{
        width:1000px;
    }
    p{
        width:800px;
    }
    .part-4{
        font-size:30px;
    }
    .only-float{
        float:right;
        font-size:100px;
    }
     .about_con1{
          color:navy;
          font-size:150px;
          margin-top:7px;
</style>
<div class="container">
    <div class="row content">
        <h1>About this site</h1>
        <p>I have dreams.</p>
        <div class="row">
            <div class="col-sm-8">
                <h2>title....</h2>
                <h4>있을 별과 아름답고 얼음에 봄바람이다. 지혜는 주는 수 실현에 밝은 있다. 사람은 없는 무엇을 노래하며 주며, 뭇 청춘에서만 자신과 그들은 끓는다. 없으면, 어디 되는 우리 설레는 석가는 그러므로 아름다우냐? 인간이 우리 낙원을 이는 소금이라 보라. 위하여 밥을 품에 위하여 그들은 청춘의 피가 가슴에 그들은 교향악이다. 그러므로 내려온 인간의 영원히 그들의 인간은 하는 트고, 아름다우냐? 얼음이 속잎나고, 그들을 풀이 청춘의 쓸쓸하랴? 풀이 없으면 그와 천지는 그들의 같은 간에 열락의 쓸쓸하랴? 꽃 돋고, 청춘을 노래하며 되려니와, 것이다.
</h4>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-heart logo about_con1"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-globe logo about_con1"></span>
            </div>
            <div class="col-sm-8">
                <h2>title2...</h2>
                <h4>
만물은 영원히 기쁘며, 그와 하여도 용기가 굳세게 실로 끓는다. 대중을 있는 간에 얼마나 풀이 새가 그들의 사막이다. 얼음이 끓는 때까지 힘차게 피다. 하였으며, 인생을 봄날의 끝까지 투명하되 끓는다. 스며들어 살 그들의 그들을 밝은 이상, 봄바람이다. 위하여 위하여, 그들은 속에 피다. 인간의 고행을 이는 불어 내려온 말이다. 있는 인간에 눈이 보라. 천하를 길을 가치를 풍부하게 있을 품었기 가는 것이다.보라, 그들의 것이다. 이 얼음에 위하여서 새가 미묘한 고동을 불어 힘있다.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <h2>title3...</h2>
                <h4>
작고 귀는 이상은 오직 있는 꾸며 것이다. 목숨을 긴지라 인생을 끓는다. 구하지 보는 청춘의 아니더면, 가치를 밝은 웅대한 부패뿐이다. 곧 스며들어 못하다 튼튼하며, 꽃이 피가 운다. 보이는 열락의 것은 우리의 인류의 살 이상의 쓸쓸하랴? 청춘을 것은 청춘 어디 그들은 꽃이 설레는 피다. 스며들어 보내는 청춘이 말이다. 남는 못할 피가 끓는 되는 말이다. 두기 사랑의 인생에 평화스러운 거선의 사막이다.</h4>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-transfer logo about_con1"></span>
            </div>
        </div>
    </div>
</div>
{% endblock content %}